{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "script"
    },
    "rules": {
        "block-spacing": "error",
        "no-console": "error",
        "quotes": ["error", "single", {
            "avoidEscape": true
        }],
        "radix": "error",
        "arrow-parens": ["error", "always"],
        "array-bracket-spacing": ["error", "never"],
        "array-callback-return": "error",
        "comma-style": ["error", "last"],
        "comma-spacing": ["error", {
            "before": false,
            "after": true
        }],
        "implicit-arrow-linebreak": ["error", "beside"],
        "key-spacing": ["error", {
            "afterColon": true
        }],
        "no-undef": "warn",
        "no-unused-vars": "warn",
        "no-redeclare": "warn",
        "no-useless-escape": "warn",
        "no-inline-comments": "warn",
        "no-underscore-dangle": "error",
        "no-new-object": "error",
        "no-array-constructor": "error",
        "no-prototype-builtins": "error",
        "no-const-assign": "error",
        "no-new-wrappers": "error",
        "no-confusing-arrow": ["error", {
            "allowParens": true
        }],
        "no-multiple-empty-lines": ["error", {
            "max": 1,
            "maxEOF": 1
        }],
        "object-shorthand": ["error", "always", {
            "avoidExplicitReturnArrows": true
        }],
        "object-curly-spacing": ["error", "always"],
        "padded-blocks": ["error", "never"],
        "prefer-template": "error",
        "prefer-const": "error",
        "prefer-destructuring": ["error", {
            "AssignmentExpression": {
                "array": true,
                "object": true
            },
            "VariableDeclarator": {
                "array": false,
                "object": true
            }
        }],
        "semi": "error",
        "template-curly-spacing": "error",
        "quote-props": ["error", "as-needed"]
    },
    "env": {
        "browser": true,
        "node": true,
        "jquery": true
    },
    "extends": "eslint:recommended"
}